nav {
    position: block;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.logo {
    text-align: end;
    margin-right: 20px;
}

.logo img {
    height: 60px;
}

.list {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;

}

.list a {
    text-decoration: none;
    color: black;
}

.grid1 {
    display: flex;
    justify-content: center;

}

.grid2 {
    display: flex;
    justify-content: start;
    background-color: #f3d6d8
}

.nav-links {
    margin: 0 25px;
    font-size: 16px;
    color: #747474;
    cursor: pointer;
}

.nav-menu-btn {
    display: none;
    position: relative;
    right: 20px;
    top: 7px;
    padding: 5px;
    color: #747474;
    cursor: pointer;
}



@media screen and (max-width: 800px) {
    .nav-links {
        margin: 5px;
        font-size: 14px;
        color: #747474;
        cursor: pointer;
    }
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
    }

    .list {
        flex-direction: column;
        height: auto;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 99;
    }

    .nav-links {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin: 0px;
        padding: 20px 0;
    }

    .nav-menu-btn {
        display: block;
    }

    .logo img {
        display: block;
        height: 50px;
        margin-left: 20px
    }

    .grid1 {
        justify-content: center;
        flex-direction: column;
    }

    .grid2 {
        background-color: #fff;
        justify-content: center;
        flex-direction: column;
    }
}